## Account info

In [2]:
import pandas as pd
import oandapy
import configparser

config = configparser.ConfigParser()
config.read('../config/config.ini')
account_example_id = config['oanda']['account_id']
api_key = config['oanda']['api_key']

oanda = oandapy.API(environment='practice',
                    access_token=api_key)

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: You passed a bytestring as `filenames`. This will not work on Python 3. Use `cp.read_file()` or switch to using Unicode strings across the board.

In [4]:
response = oanda.get_accounts()
pd.DataFrame(response['accounts'])

,accountCurrency,accountId,accountName,accountPropertyName,marginRate
0,USD,8483063,Primary,NaN,0.02
1,EUR,936233,testaccount,[MT4],0.05
2,EUR,327988,testaccount oanda,NaN,0.05
3,EUR,225374,eggie,NaN,0.02
4,EUR,177945,eggie2,[MT4],0.02
5,EUR,383340,nieuw,NaN,0.02
6,USD,191720,fxUnity,[BEGINNER],0.05
7,EUR,934215,mt4practice,NaN,0.05
8,EUR,930411,mt4 kevin,[MT4],0.05
9,EUR,870957,systeem test,NaN,0.02
10,EUR,527646,fx the furious test,NaN,0.02
11,EUR,6439066,practiceMA,NaN,0.05

# Obtaining Specific Account Info

In [8]:
response = oanda.get_account(account_example_id)
pd.Series(response)

accountCurrency        USD
accountId          8483063
accountName        Primary
balance            169.649
marginAvail        169.649
marginRate            0.02
marginUsed               0
openOrders               0
openTrades               0
realizedPl         3012.56
unrealizedPl             0
dtype: object

In [9]:
response = oanda.get_account(6439066)
pd.Series(response)

accountCurrency           EUR
accountId             6439066
accountName        practiceMA
balance               99.5224
marginAvail           99.9053
marginRate               0.05
marginUsed             2.9247
openOrders                  0
openTrades                  6
realizedPl            -0.0045
unrealizedPl           3.3076
dtype: object

In [10]:
print(response['marginAvail'])

99.9053